<article role="article" class="feed-inspiration">
  <a href="{{ .Params.address }}/?ref=uisual.com" role="link" aria-label="Visit {{ .Title | safeHTML }}&rsquo;s website." target="_blank" rel="noreferrer nofollow" class="feed-thumbnail">
    <img src="/images/placeholder.svg" data-echo="https://res.cloudinary.com/kursif/image/upload/t_uisual/uisual/{{ .Params.thumbnail | safeHTML }}.jpg" role="img" alt="{{ .Title | safeHTML }} Website Design">
  </a>
  <a href="{{ .Params.address }}/?ref=uisual.com" role="link" aria-label="Visit {{ .Title | safeHTML }}&rsquo;s website." target="_blank" rel="noreferrer nofollow" class="button button-action">
    <svg viewBox="0 0 24 24" height="16" width="16">
      <path d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
    </svg>
  </a>
</article>