<footer role="contentinfo" class="grid grid-footer">
  <p>&copy; 2020 Uisual</p>
  <p>Made by Kursif</p>
</footer>
<!-- JS Files -->
{{ $fontJS  := resources.Get "/font.js" | minify }}
{{ $echoJS  := resources.Get "/echo.js" | minify }}

<!-- Concat JS -->
{{ $scriptJS  := slice $fontJS $echoJS | resources.Concat "/script.js" | minify }}

<!-- Defer JS -->
<script async>
  function deferJS() {
    var script = document.createElement("script");
    
    script.async = true;
    script.src = "{{ $scriptJS.Permalink }}";
    document.body.appendChild(script);
  }
  
  if ( window.addEventListener ) {
    window.addEventListener("load", deferJS, false);
  }
  else if ( window.attachEvent ) {
    window.attachEvent("onload", deferJS);
  }
  else {
    window.onload = deferJS;
  }
</script>

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}