/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 BASE
|  1.2 TYPOGRAPHY
|  1.3 IMAGE
|  1.4 LAYOUT
|  1.5 BUTTON
2.0 HEADER
|  2.1 MENU
3.0 MAIN
|  3.1 INFORMATION
|  3.2 FEED
|  3.3 PAGINATION
4.0 FOOTER
5.0 MEDIA
|  5.1 360PX
|  5.2 768PX
|  5.3 1024PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

:root {
  --base-color     : #fff;
  --primary-color  : #000;
  --secondary-color: #252525;
  --primary-text   : #f1f1f1;
  --secondary-text : #505050;
  --brand-color    : #1743e2;
  
  --typography-h1     : 1.25rem;
  --typography-p      : 1rem;
  --typography-small  : .8rem;
  --typography-smaller: .64rem;
  
  --container: 1.5rem;
  --inside   : 2.5rem;
  --header   : 1.375rem;
}

/*--------------------------------------------------------------
|
| 1.1 BASE
|
--------------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background: var(--primary-color);
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
  font-size: var(--typography-p);
  font-weight: normal;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 85.375rem;
  padding: var(--container);
  width: 100%;
}

/*--------------------------------------------------------------
|
| 1.2 TYPOGRAPHY
|
--------------------------------------------------------------*/

a {
  color: var(--primary-text);
  text-decoration: none;
}

h1,
p { margin-top: 0; }

h1 {
  font-size: var(--typography-h1);
  line-height: 1.125;
  margin-bottom: .25rem;
}

p { margin-bottom: 0; }

/*--------------------------------------------------------------
|
| 1.3 IMAGE
|
--------------------------------------------------------------*/

img,
svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

img { filter: brightness(.9375); }

/*--------------------------------------------------------------
|
| 1.4 LAYOUT
|
--------------------------------------------------------------*/

.grid {
  align-items: center;
  display: grid;
}

/*--------------------------------------------------------------
|
| 1.5 BUTTON
|
--------------------------------------------------------------*/

.button {
  border-radius: 5rem;
  display: block;
  font-size: var(--typography-small);
  line-height: 1;
  padding: .3125rem .625rem;
}

.button-primary {
  background: var(--brand-color);
  margin-left: auto;
  z-index: 3;
}

.button-secondary {
  border: .0625rem solid var(--secondary-color);
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.button-action {
  background: rgba(255,255,255,.5);
  bottom: 1rem;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  z-index: 1;
}

/*--------------------------------------------------------------
2.0 HEADER
--------------------------------------------------------------*/

.grid-header {
  grid-gap: 1rem;
  grid-template-columns: auto auto 1fr;
  line-height: 1;
  position: relative;
}

.home { z-index: 3; }

/*--------------------------------------------------------------
|
| 2.1 MENU
|
--------------------------------------------------------------*/

/* HAMBURGER */

.hamburger {
  cursor: pointer;
  display: block;
  height: 1.125rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  position: relative;
  width: 1.125rem;
  z-index: 3;
}

.hamburger::before,
.hamburger::after {
  background: var(--primary-text);
  content: "";
  height: .125rem;
  left: 0;
  position: absolute;
  transition:
    transform 250ms cubic-bezier(.785, .135, .15, .86);
  width: 1.125rem;
}

.hamburger::before { top: .3125rem; }

.hamburger::after { top: .6875rem; }

.hamburger-open::before {
  transform: translateY(3px) rotate(135deg);
}

.hamburger-open::after {
  transform: translateY(-3px) rotate(45deg);
}

/* MENU */

.menu {
  align-items: center;
  background: var(--primary-color);
  border-bottom: .0625rem solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  left: calc(var(--container) * -1);
  opacity: 0;
  padding:
    calc(var(--container) * 2 + var(--header))
    var(--container)
    calc(var(--container) - .5rem);
  position: absolute;
  right: calc(var(--container) * -1);
  top: calc(var(--container) * -1);
  transition: all 250ms ease;
  visibility: hidden;
  z-index: 2;
}

.menu-open {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
3.0 MAIN
--------------------------------------------------------------*/

main {
  padding-bottom: calc(var(--inside) / 2);
  padding-top: var(--inside);
}

/*--------------------------------------------------------------
|
| 3.1 INFORMATION
|
--------------------------------------------------------------*/

.information {
  padding-bottom: var(--inside);
  text-align: center;
}

/*--------------------------------------------------------------
|
| 3.2 FEED
|
--------------------------------------------------------------*/

.grid-feed { grid-gap: 1.5rem; }

.feed-inspiration { position: relative; }

.feed-thumbnail {
  border: .0625rem solid var(--secondary-color);
  display: block;
}

/*--------------------------------------------------------------
|
| 3.3 PAGINATION
|
--------------------------------------------------------------*/

.pagination {
  padding-bottom: calc(var(--inside) / 2);
  padding-top: var(--inside);
}

.grid-pagination {
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  justify-content: center;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.pagination-link {
  align-items: center;
  border: 0 solid var(--secondary-color);
  border-bottom-width: .0625rem;
  border-left-width: .0625rem;
  border-top-width: .0625rem;
  display: flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  width: 2rem;
}

.pagination-link:last-child { border-right-width: .0625rem; }

/*--------------------------------------------------------------
4.0 FOOTER
--------------------------------------------------------------*/

.grid-footer {
  color: var(--secondary-text);
  font-size: var(--typography-smaller);
  grid-template-columns: 1fr auto;
  line-height: 1;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
5.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 5.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  :root {
    --typography-h1     : 1.406rem;
    --typography-p      : 1.125rem;
    --typography-small  : .9rem;
    --typography-smaller: .72rem;
    
    --header: 1.5rem;
  }
  
}

/*--------------------------------------------------------------
|
| 5.2 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  :root {
    --container: 5rem;
    --inside   : 5rem;
  }
  
  .menu {
    padding-bottom: calc(var(--container) / 2 - .5rem);
    padding-top: calc(
      var(--container) + var(--header) + var(--container) / 2
    );
  }
  
  .logo {
    height: 1.25rem;
    width: 1.25rem;
  }
  
  main { padding-bottom: var(--inside); }
  
  .grid-feed { grid-template-columns: repeat(2, 1fr); }
  
  .pagination { padding-bottom: 0; }
  
  .pagination-link {
    height: 2.5rem;
    width: 2.5rem;
  }
  
}

/*--------------------------------------------------------------
|
| 5.3 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {
  
  :root {
    --typography-h1     : 1.563rem;
    --typography-p      : 1.25rem;
    --typography-small  : 1rem;
    --typography-smaller: .8rem;
  }
  
  a { transition: all 250ms ease; }
  
  a:hover { color: var(--primary-text); }
  
  img { transition: filter 250ms ease; }
  
  .grid-feed { grid-template-columns: repeat(3, 1fr); }
  
  .button-primary:hover { background: #0f39d0; }
  
  .button-secondary:hover,
  a.pagination-link:hover {
    background: var(--secondary-color);
  }
  
  .feed-inspiration:hover img { filter: brightness(1); }
  
  .feed-inspiration:hover .button-action {
    background: var(--base-color);
  }
  
}